{% extends "base/index.html" %}

{% block title_content %}
Devices
{% endblock %}

{% block header_content %}
Devices
{% endblock %}

{% block create_link %}
{% url 'device.create' %}
{% endblock %}

{% block table_head %}
<tr>
    <th>Name</th>
    <th>MAC Address</th>
    <th>IP Address</th>
    <th>VLAN</th>
    <th>Wifi Network</th>
    <th>Connection</th>
    <th>Device Type</th>
</tr>
{% endblock %}

{% block table_body %}
{% for device in client_devices %}
<tr>
    <td>{{ device.name }}</td>
    <td>{{ device.mac_address }}</td>
    <td>{{ device.ip_address }}</td>
    <td>{{ device.vlan }}</td>
    <td>{{ device.wifi.ssid }}</td>
    <td>{{ device.connection_type }}</td>
    <td>Client</td>
    <td>
        <a href="{% url 'client_device.edit' device.id %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'client_device.delete' device.id %}">Delete</a>
    </td>
</tr>
{% endfor %}
{% for device in network_devices %}
<tr>
    <td>{{ device.name }}</td>
    <td>{{ device.mac_address }}</td>
    <td>{{ device.ip_address }}</td>
    <td>{{ device.vlan }}</td>
    <td>{{ device.wifi.ssid }}</td>
    <td>{{ device.connection_type }}</td>
    <td>Network</td>
    <td>{{ device.device_type }}</td>
    <td>
        <a href="{% url 'network_device.edit' device.id %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'network_device.delete' device.id %}">Delete</a>
    </td>
</tr>
{% endfor %}
{% endblock %}